[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "==3.8.2"
numpy = "==1.26.2"
opencv-python-headless = "*"
streamlit = "==1.29.0"
streamlit-drawable-canvas = "==0.9.3"
tensorflow = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.11"
