.e1f1d6gn2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.e1nzilvr1{
    text-align: center;
}
.result{
    border:2px solid grey;
}
.exotz4b0{
    /* font-size:8px; */
    text-align: center;
}